@model PracticaC_.Models.DetalleLlamadas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleLlamadas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalledPartyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalledPartyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalledPartyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalledPartyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CallDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
