@model IEnumerable<PracticaC_.Models.DetalleLlamadas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalledPartyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalledPartyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobileLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalledPartyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalledPartyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CallDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CallDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CallDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
