@model IEnumerable<PracticaC_.Models.DetalleLlamadas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table" id="Pagination-Cell">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalledPartyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalledPartyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobileLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalledPartyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalledPartyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
        </tr>
}
    </tbody>
</table>
