@model IEnumerable<PracticaC_.Models.LineasCelular>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table" id="Pagination-Celular">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobileLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.MobileLine">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
