@model PracticaC_.Models.Usuarios

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Usuario</h1>
<hr />
<div class="container text-center">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Pasword)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Pasword)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TipoUsuario)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <div class="mt-2">
            <a asp-action="Index" class="btn btn-primary">Volver</a>
        </div>
    </dl>
</div>

